{% load static %}
<html>
    <head>
        <title>Employee Management System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input type="text" name="username" id="username" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label>
                    </td>
                    <td><input type="password" name="password" id="password" required></td>
                </tr>
                <p style="color: red;">{{error}}</p>
            </table>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
