{% load poll_extras %}
<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="#" class="brand-logo">EMS</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'employee_list' %}">
                    {{"employee" | capfirst}}
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'polls_list' %}">
                    {{"Polls" | capfirst}}
                    <span class="badge badge-primary badge-pill ">{{polls_count}}</span>
                </a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'user_logout' %}">
                {% csrf_token %}
                <a href="{% url 'my_profile' %}">
                    <span class="mr-sm-2">{{request.user.first_name}}</spans>
                </a>
                <input type="submit" class="btn btn-outline-danger my-2 my-sm-0" value="Logout">
            </form>
        </ul>
    </div>
</nav>